[color]
    ui = true
    diff = true
    status = true
    interactive = true
    branch = true

[receive]
    denyCurrentBranch = refuse
    denyNonFastForwards = true
    denyDeletes = true

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"%C(red)%h%Creset %C(cyan)%ad%Creset %C(yellow)%an%Creset %Cgreen%d%Creset %s\" --all --date=short
    st = status
    co = checkout
    br-all = submodule foreach --recursive git branch
    st-all = submodule foreach --recursive git st
    push-all = submodule foreach git push
    now = rev-parse --abbrev-ref HEAD
    fetch-all = fetch --recurse-submodules
    nm = branch --no-merged

[push]
    default = current

[user]
    name = Satoshi Ogata
    email = satosystems@gmail.com

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    precomposeunicode = true
    quotepath = false

[merge]
    ff = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

